body {
  margin: 0;
  line-height: 1.5;
  text-transform: uppercase;
  color: white;
  background-color:#79b9c6;
  font-family: sans-serif;
  text-align: center;
}

header {
  text-align: left;
  height: 250px;
  font-weight: bolder;
  font-size: 30px;
}
.diff {
  color: rgb(90, 90, 90);
  font-weight: bold;
}

.big {
  font-size: 125px;
  font-weight: bolder;
  margin: 10px;
}
.box {
  margin: auto;
  margin-top: 10px;
  font-weight: 700;
  border: 2px solid white;
  padding: 5px;
  width: 160px;
}